<% if (success && success.length) { %>
    <div class="flash-success">
         <p><%=success%></p>
         <button id="flash-btn">&times;</button>
    </div>
    <script>
        const flashBtn = document.querySelector('#flash-btn');
        const flashDiv = document.querySelector('.flash-success');
        flashBtn.addEventListener('click', () => {
            flashDiv.classList.add('flash-hidden')
        })
    </script>
<% } %>