<% if (success && success.length) { %>
    <div class="flash-success">
         <p><%=success%></p>
         <button id="flash-btn">&times;</button>
    </div>
    <script>
        const flashBtnSuccess = document.querySelector('#flash-btn');
        const flashDivSuccess = document.querySelector('.flash-success');
        flashBtn.addEventListener('click', () => {
            flashDiv.classList.add('flash-hidden')
        })
    </script>
<% } %>

<% if (error && error.length) { %>
    <div class="flash-error">
         <p><%=error%></p>
         <button id="flash-btn">&times;</button>
    </div>
    <script>
        const flashBtnError = document.querySelector('#flash-btn');
        const flashDivError = document.querySelector('.flash-error');
        flashBtnError.addEventListener('click', () => {
            flashDivError.classList.add('flash-hidden')
        })
    </script>
<% } %>