<nav class="navbar">
    <a class="logo" href="#">Curbside</a>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/items">Items</a>
        <a href="/items/new">New</a>
    </div>
</nav>