<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curbside</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/styles/show.css">
    <link rel="stylesheet" href="/styles/new.css">
    <link rel="stylesheet" href="/styles/index.css"> -->
    <link rel="stylesheet" href="/styles/main.css">

</head>
<body>
    <%- include('../partials/navbar') %>
    <main>
        <%- include('../partials/flash') %>
        <div class="page-wrapper">
            <%- body %> 
            <%- include('../partials/footer') %>
        </div>
    </main>
</body>
</html>