<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/error.css">
    <title>Oh no! Error!</title>
</head>
<body>
     -->
     <% layout('layouts/boilerplate') %>
    <main class="error-main">
        <div class="error">
            <h1>Error! <%=err.message%></h1>
            <!-- <p><%=err.stack%></p> -->
            <p>Something Went Horribly Wrong!</p>
        </div>
    </main>
<!-- </body>
</html> -->