<% layout('layouts/boilerplate') %>
    <main class="home-main">
        <div class="home-title">
            <h1>Curbside</h1>
            <p>Upload items you no longer want that you've kicked to the curb! Someone on here might find a use for it.
            </p>
        </div>
        <section class="home-register-login">
            <div class="home-register-div">
                <p>Register to create an account and start uploading items!</p>
                <a class="home-button" href="/register">Register</a>
            </div>
            <div class="home-login-div">
                <p>Already have an account? Login here!</p>
                <a class="home-button" href="/login">Login</a>
            </div>
        </section>
    </main>