* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index h1 {
    margin: 2rem;
}

.curbsideItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: 80%;
    margin-bottom: 1rem;
    border: 1px solid #a3a3a3;
}

.itemImage {
    width: 50%;
    height: auto;
}

.itemImage img { 
    max-width: 100%;
    min-width: 150px;
    min-height: 100%;

}

.itemDetails {
    width: 100%;
    margin-left: 2rem;
}

.itemDetails * {
    font-size: 1.5rem;
    margin: 1rem;
}

.new-link {
    align-self: flex-start;
    margin-left: 5rem;
    margin-bottom: 2rem;
}