* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
}

.card {
    width: 100%;
    height: fit-content;
    border: 1px solid #a3a3a3;
    margin-left: 5%;
}

.card-image {
    width: 100%;
}

.card-image img {
    max-width: 100%;
}

.card-details {
    margin-top: 2rem;
}

.card-details * {
    margin: 0.5rem;
}

.card-details ul {
    list-style: none;
}

.card-details ul li {
    margin-left: 0;
}

.card-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card-controls button {
    margin: 0.5rem;
    padding: 0.5rem;
}

.index-link {
    margin: 1rem 2rem 1rem 2rem;
}

.side-content {
    width: 50%;
    margin-top: 1rem;
}

.comment-form {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
}

.comment-form form, textarea {
    width: 100%;
    resize: none;
}

.comment-button {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.comment {
    width: 80%;
    min-height: 10%;
    border: 1px solid #a3a3a3;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}

.comment p {
    margin-bottom: 2rem;
}

.flash-success {
    margin-top: 2rem;
    width: 80%;
    padding: 1.5rem;
    margin: 0 auto;
    background-color: #a6dfa6;
    position: relative;
}

.flash-success button {
    padding: 0 0.25rem;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}